# {{ ansible_managed }}
Schedule {
  Name = "{{ item.name }}"
{% for line in item.full %}
  Run = {{ line }}
{% endfor %}
{% if item.incr is defined %}
{% for line in item.incr %}
  Run = {{ line }}
{% endfor %}
{% endif %}
{% if item.enabled is defined %}
  Enabled = {{ item.enabled }}
{% endif %}
}
