# {{ ansible_managed }}
Schedule {
  Name = "{{ item.name }}"
{% if item.full is iterable and item.full is not string %}
{% for line in item.full %}
  Run = {{ line }}
{% endfor %}
{% else %}
  Run = {{ item.full }}
{% endif %}
{% if item.incr is defined %}
{% if item.incr is iterable and item.incr is not string %}
{% for line in item.incr %}
  Run = {{ line }}
{% endfor %}
{% else %}
  Run = {{ line }}
{% endif %}
{% endif %}
{% if item.enabled is defined %}
  Enabled = {{ item.enabled }}
{% endif %}
}
