# {{ ansible_managed }}
FileSet {
  Name = "{{ item.name }}"
  Description = "{{ item.description }}"
  Include {
    Options {
      Signature = MD5 # calculate md5 checksum per file
      One FS = No     # change into other filessytems
    }
{% if item.options is defined %}
{%- for option in item.options %}
    Options {
{% for data, suboption in option.items() -%}
{% for line in suboption %}
      {{ line }}
{% endfor -%}
{% endfor %}
    }
{% endfor %}
{% endif %}
    File = {{ item.include_file }}
  }
  # Things that usually have to be excluded
  # You have to exclude /var/lib/bareos/storage
  # on your bareos server
  Exclude {
{% for file in bareos_excludes %}
    File = {{ file }}
{% endfor %}
{% if item.exclude is defined %}
{% for line in item.exclude_file %}
    File = {{ line }}
{% endfor %}
{% endif %}
  }
}
