---
- name: Include OS-specific variables
  include_vars: "{{ ansible_distribution }}{{ ansible_distribution_major_version }}.yml"

- name: Install dependencies
  apt:
    name: "{{ _bareos_support_packages }}"

- name: Add BareOS apt-key
  apt_key:
    url: "http://download.bareos.org/bareos/release/{{ bareos_release }}/{{ bareos_os_version }}/Release.key"

- name: Ensure BareOS APT repo is present
  apt_repository:
    repo: "deb http://download.bareos.org/bareos/release/{{ bareos_release }}/{{ bareos_os_version }}/ /"

- name: Install && setup bareos client
  include_tasks: bareos_client.yml
  when: bareos_install_client

- name: Install bareos-server
  include_tasks: bareos_server.yml
  when: bareos_install_server

- name: Register clients
  include_tasks: register_client.yml
  with_items: "{{ bareos_clients }}"
  when:
    - bareos_install_server
    - item.ansible_delegate_hostname|default(item.name) in ansible_play_hosts
