# {{ ansible_managed }}
Pool {
  Name = "{{ item.name }}"
  Pool Type = Backup
  Recycle = yes
  AutoPrune = yes
  Volume Retention = {{ item.retention }}
{% if item.max_vol_bytes is defined %}
  Maximum Volume Bytes = {{ item.max_vol_bytes }}
{% endif %}
{% if item.max_vol is defined %}
  Maximum Volumes = {{ item.max_vol }}
{% endif %}
  Label Format = "{{ item.label }}"
}
