# {{ ansible_managed }}
Storage {
  Name = "{{ item.name }}"
  Address = "{{ item.bareos_dir_ip }}"
  Password = "{{ bareos_storage_password }}"
  Media Type = File
  Device = {{ item.device }}
  Maximum Concurrent Jobs = 50
}
