# {{ ansible_managed }}
Device {
  Name = "{{ item.name }}"
  Media Type = File
  Archive Device = {{ item.arch_device }}
  LabelMedia = yes;                   # lets Bareos label unlabeled media
  Random Access = yes;
  AutomaticMount = yes;               # when device opened, read it
  RemovableMedia = no;
  AlwaysOpen = no;
  Maximum Concurrent Jobs = 50
}
